<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>to do list</title>
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <header>
      <nav class="nav">
        <h1 class="nav-brand">TO DO</h1>
        <ul class="nav-list">
          <li class="nav-item"><a href="/new">new</a></li>
          <li class="nav-item"><a href="/index">index</a></li>
          <li class="nav-item"><a href="/">top</a></li>
        </ul>
      </nav>
    </header>
  